ipykernel
python-dotenv
jupyter
notebook
langchain
langchain-community
langchain-core
langchain-groq
langchainhub
langchain-huggingface
groq
pypdf
beautifulsoup4
numpy
pandas
#tiktoken
transformers
sentence-transformers
faiss-cpu
chromadb
pydantic
rank_bm25
fitz
asyncio
pymupdf